*{
    justify-content: center;
    margin: 0;
    padding: 0;
}


.container{
    background-color: rgb(7, 1, 27);
    margin-top: 100px;
    margin-left: 500px;
    width: 6%;
    padding: 10%;
    color: #fff;
    height: 55px;
    border-radius: 20px;

}
.image{
    position: absolute;
    top: 125px;
    margin-left: -50px;
}

.text{
    background-color: rgb(44, 41, 41);
    border: none;
    width: 250%;
    padding: 5px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: -50px;
    
}

h2{
    margin-top: 30px;
    width: 200%;
}
.paragraph{
    width: max-content;
    margin-left: -130px;
}